---
layout: post
title: "Client 0.98.1 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.98.1 is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>This is a maintenance release, with the following fixes since 0.98:</p>
<ul>
<li>Fix crash when entering only a space into the search dialog</li>
<li>Fix crash when entering slashes into the search dialog</li>
<li>Fix potential fragment crash when installing/removing a package</li>
<li>Fix crash when adding malformed URIs as repos</li>
</ul>
<p>As usual, if you have problems or feature requests, please let us know via the <a href="{{ site.baseurl }}/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>
