---
layout: post
title: "Client 0.99 Released"
author: "CiaranG"
---

<div class="post-entry">
<p>The latest release of the F-Droid Repository Client, version 0.99 is now available. You can download it from the home page or, if you already have an earlier version installed, just update.</p>
<p>These are the changes since 0.98.1:</p>
<ul>
<li>Add simple “Use Tor” setting.</li>
<li>Enable TLS v1.2 for HTTPS on all devices that support it.</li>
<li>Fix a series of Swap crashes, including a background crash.</li>
<li>Fix most Android lint errors and some warnings.</li>
<li>Translation updates.</li>
</ul>
<p>As usual, if you have problems or feature requests, please let us know via the <a href="{{ site.baseurl }}/issues">issue tracker</a>, join us in the <a href="https://forum.f-droid.org">Forum</a> or visit #fdroid on FreeNode.</p>
</div>
